header {
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: #202020;
    z-index: -1;
}

main{
    position: relative;
    overflow: hidden;
    height: max-content;
    padding-bottom: 50px;
}

.formulario {
    background: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin-top: 120px;
}

.titulo {
    margin-top: 15px;
    margin-bottom: 25px;
}

.form-label {
    padding-top: 20px;
}

.navbar {
    background-color: transparent;
}

.navbar-brand{
    margin-right: 220px;
    transition: margin-right 0.6s ease;
}

.navbar-brand, 
.nav-link, 
.btn {
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
    text-decoration: none;
}

#loginBtn a, 
#registerBtn a {
    color: rgba(0, 0, 0, 0.938);
    font-weight: bold;
    text-decoration: none;
}

#btn-reg{
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(180, 0, 0);
    border: 2px solid rgb(37, 0, 0);
    border-radius: 5px;
    transition: 0.2s ease;
}

#btn-reg:hover{
    background-color: rgb(180, 0, 0);
    color: white;
    border-radius: 30px;
}

.nav-item a:hover {
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-item {
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: rgb(180, 0, 0);
    width: fit-content;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, 0.938); /* Color original antes del sticky */
}

#loginBtn, 
#registerBtn {
border-radius: 100px;
background-color: white;
color: black;
}

#loginBtn{
margin-right: 8px;
}

#loginBtn:hover,
#registerBtn:hover {
  background-color: rgb(224, 224, 224); /* Fondo al pasar el cursor */
  color: white; /* Color del texto al pasar el cursor */
}

.btn-outline {
    color: transparent;
    pointer-events: none;
    margin-right: 5px;
}

.btn, 
.nav-item {
border-radius: 100px;
}


.btn:hover {
background-color: rgb(168, 21, 21);
width: fit-content;
color: white;
}

/* Logout */
#logout {
text-decoration: none;
color: black;
}

#logout:hover {
width: fit-content;
text-decoration: underline;
}

header.sticky .nav-item a:hover {
    color: white;
    transition: color 0.3s ease;
}

header.sticky .navbar-brand{
    margin-right: 115px;
}

header.sticky .nav-link:hover,
header.sticky .btn:hover,
header.sticky #registerBtn a,
header.sticky #loginBtn a {
    color: white;
    transition: color 0.3s ease;
}

header.sticky {
    padding: 5px 100px;
    background: #ffffff;
}

header.sticky .navbar-brand,
header.sticky .nav-link,
header.sticky .btn,
header.sticky #registerBtn {
    color: rgb(0, 0, 0);
    transition: 0.6s;
}

header.sticky #loginBtn, 
header.sticky #registerBtn {
    background-color: rgb(184, 9, 9); /* Fondo cuando el header es sticky */
    color: white; /* Color del texto cuando el header es sticky */
    transition: 0.20s ease;
}

header.sticky #loginBtn:hover,
header.sticky #registerBtn:hover {
    background-color: rgb(228, 3, 3); /* Fondo al pasar el cursor cuando el header es sticky */
    color: white; /* Color del texto al pasar el cursor cuando el header es sticky */
}

header.sticky .btn{
    pointer-events: all;
}

header.sticky .form-control {
    background-color: white;
    border-radius: 100px;
    color: black;
    cursor: auto;
}

.form-control{
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgba(61, 0, 0, 0.979);
}


body{
    background-color: #d8fcb3;
}
