.formulario {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.titulo {
    margin-top: 15px;
    margin-bottom: 25px;
}

.form-label {
    padding-top: 20px;
}

#logout {
    text-decoration: none;
    color: black;
}

#logout:hover {
    width: fit-content;
    text-decoration: underline;
}