/* Header */
header {
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:130vh;
    background-color: #202020;
    z-index: -1;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:110px;
    position: relative;
}


main .info-primera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.144);
    border-radius: 20px;
    width: 100%;
    height: 80vh;
    padding: 10px;
    box-shadow: 5px 5px 15px 3px #000000ab;
}

main .blur-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-color: rgba(35, 35, 199, 0.137);
    filter: blur(50px);
    z-index: 1;
}

#texto, .logo-info{
    position: relative;
    z-index:2;
}

main #texto{
    filter: blur(0px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 55%;
    padding: 50px;
}

main .logo-info{
    width: 100%; /* Ajusta el tamaño de la imagen para una mejor presentación */
    max-width: 500px;
    height: auto;
    object-fit: contain;
    border-radius: 15px;
}

.navbar {
    background-color: transparent;
}

.navbar-brand{
    margin-right: 220px;
    transition: margin-right 0.6s ease;
}

.navbar-brand, 
.nav-link, 
.btn {
    color: rgba(255, 255, 255, 0.938);
    font-weight: bold;
    text-decoration: none;
}

#loginBtn a, 
#registerBtn a {
    color: rgba(0, 0, 0, 0.938);
    font-weight: bold;
    text-decoration: none;
}

.logo img{
    transition: transform 0.3s ease;
}

.logo img:hover{
    transform: scale(1.1);
}


.nav-item a:hover {
    color: white;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-item {
    transition: background-color 0.3s ease;
    border-radius: 100px;
}

.nav-item:hover {
    background-color: rgb(180, 0, 0);
    width: fit-content;
}


header.sticky .nav-item a:hover {
    color: white;
    transition: color 0.3s ease;
}

header.sticky .navbar-brand{
    margin-right: 115px;
}

header.sticky .nav-link:hover,
header.sticky .btn:hover,
header.sticky #registerBtn a,
header.sticky #loginBtn a {
    color: white;
    transition: color 0.3s ease;
}

/* Navbar-brand hover */
.navbar-brand:hover {
  color: rgba(255, 255, 255, 0.938); /* Color original antes del sticky */
}

header.sticky {
    padding: 5px 100px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header.sticky .form-control {
    background-color: white;
    border: 1px solid rgb(90, 90, 90);
    transition: 0.6s;
    pointer-events: all; /* Habilitar eventos del puntero cuando el header es sticky */
}

header.sticky .navbar-brand,
header.sticky .nav-link,
header.sticky .btn,
header.sticky #registerBtn {
    color: rgb(0, 0, 0);
    transition: 0.6s;
}

/* Botones */
#loginBtn, 
#registerBtn {
    border-radius: 100px;
    background-color: white;
    color: black;
}

#loginBtn{
    margin-right: 8px;
}


#loginBtn:hover,
#registerBtn:hover {
    background-color: rgb(224, 224, 224); /* Fondo al pasar el cursor */
    color: white; /* Color del texto al pasar el cursor */
}

header.sticky #loginBtn, 
header.sticky #registerBtn {
    background-color: rgb(184, 9, 9); /* Fondo cuando el header es sticky */
    color: white; /* Color del texto cuando el header es sticky */
    transition: 0.20s ease;
}

header.sticky #loginBtn:hover,
header.sticky #registerBtn:hover {
    background-color: rgb(228, 3, 3); /* Fondo al pasar el cursor cuando el header es sticky */
    color: white; /* Color del texto al pasar el cursor cuando el header es sticky */
}

/* Formulario */
.form-control {
    background-color: transparent;
    border: 2px transparent;
    color: transparent;
    cursor: default;
    pointer-events: none; /* Desactivar eventos del puntero cuando el header no es sticky */
}

.btn-outline {
    color: transparent;
    pointer-events: none;
    margin-right: 4px;
}

header.sticky .btn{
    pointer-events: all;
}

header.sticky .form-control {
    background-color: white;
    border-radius: 100px;
    color: black;
    cursor: auto;
}

#logout {
    text-decoration: none;
    color: black;
    border-radius: 100px;
    background-color: white;
}

#logout:hover {
    width: fit-content;
    text-decoration: none;
}

header.sticky #logout{
    color: white;
    background-color: rgb(184, 9, 9);
    border-radius: 100px;
}

.dropdown-toggle{
    color: white !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:active{
    color: rgb(255, 255, 255) !important;
}

header.sticky .dropdown-toggle{
    color: black !important;
}

header.sticky .dropdown-toggle:focus,
header.sticky .dropdown-toggle:active{
    color: rgb(0, 0, 0) !important;
}

.dropdown-toggle:focus,
.dropdown-toggle:active{
    color: rgb(255, 255, 255) !important;
}

.dropdown-item{
    color: black;
    transition: color 0.3s ease;
}

.dropdown-item:hover{
    color: black;
    background-color: rgb(41, 0, 0);
}

footer {
    background-color: #ffffff;
    color: #1a1717;
}

body{
    background-color: rgb(199, 78, 78);
}

/* Título principal */
h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2rem;
    position: relative;
    padding-bottom: 15px;
}   

h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: 400;
}
