body{
    background-color: #d8fcb3;
}

#logout {
    text-decoration: none;
    color: black;
    border-radius: 100px;
    background-color: white;
}

#logout:hover {
    width: fit-content;
    text-decoration: none;
}

header.sticky #logout{
    color: white;
    background-color: rgb(184, 9, 9);
    border-radius: 100px;
}
.contenedor{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    width: 600px;
    height: 532px;
}
.Enviar{
    background-color: #89fcb3;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    margin-top: 5px;
    cursor: pointer;
}
.correo{
    width: 250px;
}

.contenedorDeAsunto{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}
.contenedorDeTexto {
    width: 100%;
    height: 235px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Evita que los usuarios redimensionen el área de texto */
}

@media (max-width: 480px){
    .formulario{
        display: flex;
        justify-content: center;
        flex-direction: row;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        padding: 20px;
        box-sizing: border-box;
        width: 600px;
        height: 480px;
    }
    .contenedorDeAsunto{
        width: 100%;
        height: 50px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        resize: none;
    }
    .contenedorDeTexto {
        width: 100%;
        height: 235px;
        margin-top: 5px;
        padding: 10px;
        border-radius: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ccc;
        resize: none; /* Evita que los usuarios redimensionen el área de texto */
    }
}