/* Reset de estilos y configuración básica */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Estilo para el cuerpo de la página */
body {
    background-color: #f0f2f5;
}

header {
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 35px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

canvas {
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-color: #202020;
    margin: 0;
    z-index: -1;
  }

main{
    margin-top: 150px;
    position: relative;
    overflow: hidden;
    height: 120vh;
    z-index: 1;
}


/* Contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    color: rgb(235, 235, 235);
    font-weight: bold;
    border: none;
    background-color: rgb(104, 0, 0);
    border-radius:100px;
    padding: 10px 20px;
    transition: 0.2s ease;
}

button:hover{
    transition: 0.2s ease;
    background-color: rgb(155, 0, 0);
    color: rgb(255, 255, 255);
}