.navbar {
    background-color:#b1fcb3;
    border-bottom: 1px solid #1a1717;
}
footer{
    background-color: #89fcb3;
    color: #1a1717;
}
body{
    background-color: #d8fcb3;
}

.formulario{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
    width: 300px;
    height: 500px;
}
.contenedor{
    display: flex;
    justify-content: center;
    padding: 30px;
}
input{
    border-radius: 10px;
}
.Enviar{
    background-color: #89fcb3;
    border-radius: 10px;
    box-shadow: 0 4px rgba(0,0,0,0.2);
    margin-top: 5px;
    cursor: pointer;
}
.correo{
    width: 250px;
}
.contenedorDeTexto{
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    width: 250px;
    height: 200px;
}