body{
    background-color: #d8fcb3;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section{
    background-color: #fcf5e971;
    border: black solid 2px;
    border-radius: 10px;
    width: 700px;
    height: auto;
    overflow:auto;
    margin: 10px;

}

div{
    margin: 10px;
}
dd{
    margin: 5px;
}

ol{
    font-weight: bold;
    font-style: normal;
}